@media only screen and (max-width:400px){
    @font-face{
        font-family: rowdiesBold;
        src: url(./Media/fonts/Rowdies/Rowdies-Bold.ttf)
    }
    @font-face{
        font-family: RowdiesRegular;
        src:url(./Media/fonts/Rowdies/Rowdies-Light.ttf)
    }
    @keyframes typing{
        from{
         width: 0;   
        }
        to{
            width: 100%;
        }
    }
    .sideNav{
        position: 0;
        margin:0 auto;
        font-family: RowdiesRegular;
        position:fixed;
        margin-top:50px;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        background:rgba(0,0,0,0.75);
        clip-path:circle(0px at 100% 0%);
        -webkit-clip-path:(0px at 100% 0%);
        transition: all 1s ease-out;
    }
    .hamburgerIcon{
        float: right;
        margin:15px 25px;
        height:30px;
    }
    .topNavMobile{
        width: 100%;
        height: 50px;
        position: fixed;
        background-color: white;
        z-index: 2;
        
    }
    .sideNaveList a{
        color:white;
    }
    .mainLogoMobile{
        height:45px;
        width: 100px;
        float:left;
        margin: 5px 10px;

    }
    .mainLogo{
        display: none;
    }
    .mainLogoMobile img{
        height:100%;
        width: 100%;
    }
    .mainLogoMobile img:hover{
        border:1px blue solid;
        border-radius: 5px;
    }
    .mainNavList{
        display:none
    }
    .sideNavList{
        display: block;
    }
    li a{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
        line-height: 70px;
        margin-top: 30px;
        font-size: 20px;
        
    }

    li a:hover{
        border: 2px solid blue;
        border-radius: 10px 10px 10px 10px;
        box-shadow:1px 1px 5px 0 blue ;
        
    }
    .info{
        margin:50px auto;
        text-align:center;
        width:60%;
        color:black;
        font-size:18px;
    }

    .skillsDiv{
        min-height: 100vh;
        background-color: #207FC1;
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
        padding-top: 50px;
    }
    .skillsDiv h1{
        color: white;
        font-size: 20px;
    }
    .skillsDiv h2{
        animation:animation 5s;
        font-family: RowdiesRegular;
        color: white;
        font-size:18px;
    }
    .mainCircleWeb{
        border-radius: 50%;
        background:transparent;
        display: grid;
        margin: auto;
        width: 95%;
        align-items:center;
        justify-items: center;
    }
    .mainCircleML{
        border-radius: 50%;
        background:transparent;
        margin: auto;
        width: 95%;
        align-items:center;
        justify-items: center;
        display: none;
    
    }
    .mainCircleText{
        background-color:transparent;
        display: flex;
        height: 100%;
        flex-direction: column;
        grid-area: 1/1/1/1;
        justify-content: center;
    }
    .miniCircle{
        background: white;
        border-radius:50%;
        width: 6vw;
        height: 6vh;
        grid-area: 2/1/1/1;
    }
    .miniCircle img{
        width: 100%;
        height: 100%;
        border-radius:50%;
    }
    .miniCircle img:hover{
        animation:verticalRotation 2.5s;
        cursor:text;
        border:2px solid blue;
    }
    
    .mini1{
        transform: translate(0,-25vh);
    }
    .mini2{
        transform: translate(17.68vh,17.68vh);
    }
    .mini3{
        transform: translate(20vh,0vh);
    
    }
    .mini4{
        transform: translate(17.68vh,-17.68vh);
    
    }
    .mini5{
        transform: translate(0,20vh);
    }
    .mini6{
        transform: translate(-17.68vh,-17.68vh);
    }
    .mini7{
        transform: translate(-20vh,0);
    }
    .mini8{
        transform: translate(-17.68vh,17.68vh);
    }
    .lang, .skills-nav{
        font-size: 70%;
        margin: 15px 0;
        color:white;
    }
    .skills-nav{
        width: 60%;
        margin: 15px auto;
    }
    .WebButton{
        display: none;
    }
    .MLButton{
        display: block;
    }
    .skills-nav, .contactDiv button {
        border-radius: 15px;
        background: white ;
        border:solid white 2px;
        color: black;
        box-shadow: 5px 0 10px 0 ;
        font-family: "RowdiesRegular";
    }
    .lang:hover{
        cursor: text;
    }
    .projectSubHeading{
        animation:animation 5s;
        width:90%;
        margin: 0 auto;
        font-family: RowdiesRegular;
    }
    .back-to-top{
        width:50px;
    }

    ul{
        padding: 0;
        text-align: left;
        padding-left: 10%;
    }
    li{
        color: white;
        display:block;
        font-size: 17px;
        line-height: 35px;
    }
    .Wrapper{
        width: 100%;
        margin:auto auto;
        min-height: 100%;
        padding-top: 50px;
        background-size:100% 100%;
        background-image: url(./Media/landingPageBGMobile.png);
    }
    .Wrapper h1{
        margin-top: 5vh;
        color:black;
        font-family:RowdiesRegular;
        font-size: 17px;
        text-align: left;
        margin-left: 50px;
        width:50%;
    }
    .Wrapper a{
        color: black;
        animation-name:animation;
        animation-duration: 5s;
        font-family: serif;
    }
    h1{ 
        animation-name:animation;
        animation-duration: 5s;
        font-family: RowdiesRegular;
    }
    .h1{
        font-size: 20px;
        animation-name: animation;
        animation-duration: 5s;
    }
    p,h2{
        font-size: 15px;
    }
    .projectSection{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        width:95%;
        margin:10px auto;
        padding-top: 50px;
    }
    .projectCard{
        box-shadow:2px 3px grey;
        background-color: white;
        width: 150px;
        border-radius: 10px;
        margin-bottom: 30px;
        border:2px solid grey;
    }
    .projectCard img{
        width: 100%;
        height: 80px;
        border-radius: 10px;
    }
    .projectCard button{
        border: 1px grey solid;
        color: black;
        background-color: white;
        background-color: grey;
        font-size: 13px;
    }
    .projectCard:hover{
        border:2px solid grey;
        border-radius: 12px;
        transform: scale(1);
    }
    .projects-desktop{
        display: none;
    }
    .projects-mobile{
        margin: 0 auto;
    }
    .projectCard p{
        word-wrap: break-word;
        height: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .projectSection img{
        width: 100%;
    }
    .projectsDiv{
        min-height: 100%;
        padding-top: 50px;
        font-family: serif;
        display: flex;
        flex-direction:column;
    }
    .slider-left div, .slider-right div{
        background-color:#207FC1;
    }
    .react-3d-carousel{
        margin-top: 20px;
        display: none;
    }
    
    .contactDiv{
        padding-top: 50px;
        font-family: serif;
        background-color:#207FC1;
        display: flex;
        flex-direction:column;
        clear:both;
        min-height: 100%;
    }
    .contactDiv h1{
        color:white;
    }
    .contactDiv p{
        width: 70%;
        color: white;
        margin: 0 auto;
        font-family: RowdiesRegular;
    }
    form{
        margin-top: 4%;
    }
    
    input,label{
        height: 25px;
        display: block;
        margin:0 auto;
        color:black;
        font-size:15px;
        margin-top: 1%;
        font-style: italic;
        border-radius: 10px;
        
    }
    input{
        width:50%;
        font-size: 15px;
        font-style:normal;
        color: black;
    }
    .confirmationAppear{
        display: block;
        color:white;
        animation: "anime" 4s
    }
    label{
        color:white;
        margin-top: 5%;
    }
    textarea{
        width: 50%;
        height: 100px;
        color: black;
        margin-top: 1%;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    .Wrapper .p1{
        overflow:hidden;
        white-space: nowrap;
        width:0;
        animation: typing 5s steps(45,end) forwards;
        width:80%;
        margin:0 auto;
        line-height: 35px;
        color:black;
        font-family: RowdiesRegular;
    }
    a{
        color:black;
    }
    button{
        margin-top:2%;
        border: solid;
        border-color:white;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: medium;
        cursor: pointer;
        font-size: larger;
    }
     @keyframes animation{
         0%{
             opacity: 0;
             color: blue;
         }
    
         100%{
             opacity:1 ;
         }
    }
    .submission{
         visibility: hidden;
         color: wheat;
    }
    .error-msgs{
        color: wheat;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    
    }
    @keyframes anime{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    
}

