

@font-face{
    font-family: serif;
    src: url(./Media/fonts/Rowdies/Rowdies-Bold.ttf)
}
@font-face{
    font-family: serif;
    src:url(./Media/fonts/Rowdies/Rowdies-Regular.ttf)
}
/*Desktop Styling*/
@media only screen and (min-width:1024px){

#mainNav{
background-color:blue;
height: 50px;
margin:0 auto;
width: 100%;
font-family: serif;
position:fixed;
z-index: 1000;
}
.Wrapper .typedWords{
    padding-top: 50px;
    animation-name:animation;
    animation-direction: forwards;
    width:80%;
    margin:0 auto;
    animation-duration: 10s;
    font-family: serif; 
    color:black;
}.info{
    margin:20px 2%;
    text-align:left;
    width:60%;
    color:white;
    font-size:30px;
}
.projectSubHeading{
    animation:animation 5s;
}
.back-to-top{
    width:50px;

}
li{
    color: white;
    display: inline-block;
    
    margin-left:100px;
    font-size: 20px;
    line-height: 50px;
    
}
.Wrapper{
    width: 100%;
    margin: auto auto;
    min-height: 100vh;
    background-size:cover;
    padding-top:50px;
    background-image: url(./Media/landingBg.jpg);
    background-repeat:no-repeat;

}
.Wrapper h1{
    margin-top: 15vh;
    color:white;
    font-family:serif;
    font-size: 40px;
}
.Wrapper a{
    color:white;
    animation-name:animation;
    animation-duration: 5s;
    font-family: serif;
}
ul{
    padding-right: 40px;
    margin: 0 0 0 0;
}
h1{
    animation-name:animation;
    animation-duration: 5s;
    font-family: serif;
}
.h1{
    font-size: 40px;
    animation-name: animation;
    animation-duration: 5s;
}
p{
    font-size: 25px;
    font-family: serif;
    
}
.projectSection{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: none;
    width:100%;
    margin:50px auto;

}
.grid_projects{
    display: none;
}
.projectSection img{
    border: groove 10px skyblue;
    width:30%;
}
.projectDetails{
    animation: animation 5s;
    margin-top: 20px;
    font-size: 2vh;
}
.projectDetails a{
    color: black;
    font-family: serif;
    font-size:20px;    
}
.projectsDiv{
    min-height: calc(100vh);
    padding-top: 50px;
    font-family: serif;
    display: flex;
    flex-direction:column;
    overflow:hidden;
    /*background-color:#21ACCB;*/
    /*background-color: #207FC1;*/
}
.slider-left div, .slider-right div{
    background-color:#207FC1;
}
.react-3d-carousel{
    margin-top: 20px;
}
.contactDiv{
    min-height: 100vh;    
    padding-top: 50px;
    font-family: serif;
    background-color:#207FC1;
}
.contactDiv h1{
    color:white;
}
.contactDiv p{
    width: 70%;
    color: white;
    margin: 0 auto;
}
form{
    margin-top: 4%;
}

input,label{
    width: 25%;
    height: 25px;
    display: block;
    margin:0 auto;
    color:blue;
    font-size:25px;
    margin-top: 1%;
    font-style: italic;
    border-radius: 10px;
    
}
input{
    font-size: 20px;
    font-style:normal;
}
.confirmationAppear{
    display: block;
    color:white;
    animation: "anime" 4s
}
label{
    color: white;
}
textarea{
    width: 40%;
    height: 100px;
    color: blue;
    margin-top: 1%;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}
.Wrapper .p1{
    font-style: italic;
    animation-name: animation;
    animation-direction: normal;
    animation-duration: 10s;
    width:80%;
    margin:0 auto;
    line-height: 50px;
}
a{
    color:white;
}
a:hover{
    color:gray;
}
button{
    margin-top:2%;
    border: solid;
    border-color:white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: medium;
    cursor: pointer;
    font-size: larger;
}
 @keyframes animation{
     0%{
         opacity: 0;
         color: blue;
     }

     100%{
         opacity:1 ;
     }
}
.submission{
     visibility: hidden;
     color: white;
}
.error-msgs{
    color: white;

}
@keyframes anime{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
}
/*Ipad Styling*/
@media only screen and (max-width:1023px) and (min-width:768px){

    .info{
    margin:5% auto;
    }
    #mainNav{
        position: 0;
        background-color:blue;
        height: 120px;
        margin:0 auto;
        width: 100%;
        font-family: serif;
        position:fixed;
        z-index: 1000;
    }

    .Wrapper{
        padding-top: 50px;
        animation-name:animation;
        animation-direction: forwards;
        width:80%;
        margin:0 auto;
        animation-duration: 10s;
        font-family: serif; 
        color: navy;
        min-height: 100vh;
    }
.info{
    margin:50px 2%;
    text-align:left;
    width:60%;
    color:white;
    font-size:30px;
}
.projectSubHeading{
    animation:animation 5s;
    width:90%;
    margin: 0 auto;
    
}
.back-to-top{
    width:50px;
}

    ul{
        padding: 0;
        text-align: left;
        padding-left: 10%;
    }
    li{
        color: white;
        display:block;
        font-size: 17px;
        line-height: 35px;
    }
    .Wrapper{
        width: 100%;
        margin: auto auto;
        min-height: 100vh;
        background-size:100% 100%;
        padding-top: 120px;
        background-image: url(./Media/landingBg.jpg);
        background-repeat:no-repeat;
    }
    .Wrapper h1{
        margin-top: 7vh;
        color:white;
        font-family:serif;
        font-size: 25px;
    }
    .Wrapper a{
        color: white;
        animation-name:animation;
        animation-duration: 5s;
        font-family: serif;
    }
    h1{ 
        animation-name:animation;
        animation-duration: 5s;
        font-family: serif;
    }
    .h1{
        font-size: 30px;
        animation-name: animation;
        animation-duration: 5s;
    }
    p{
        font-size: 18px;
        font-family: serif;
        
    }
    .projectSection{
        
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-areas: none;
        
    }
    .grid_projects{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 2% auto;

    }
    .grid_projects a{
        border:10px groove skyblue;
        margin: 12px auto;
        width:40%;   
    }

    .projectSection img{
        
        width: 100%;
    }
    .projectDetails{
        animation: animation 5s;
        margin-top:35px;
    }
    .projectDetails a{
        color: black;
        font-family: serif;
        font-size:20px    
    }
    .projectsDiv{
        min-height: calc(100vh);
        padding-top: 130px;
        font-family: serif;
        display: block;

    }
    .slider-left div, .slider-right div{
        background-color:#207FC1;
    }
    .react-3d-carousel{
        margin-top: 20px;
        display: none;
    }
       
    .contactDiv{
        padding-top: 130px;
        font-family: serif;
        background-color: #207FC1;
        min-height: 100vh;
    }
    .contactDiv h1{
        color:white;
    }
    .contactDiv p{
        width: 70%;
        color: white;
        margin: 0 auto;
    }
    form{
        margin-top: 4%;
    }
    
    input,label{
        width: 50%;
        height: 25px;
        display: block;
        margin:0 auto;
        color:blue;
        font-size:25px;
        margin-top: 1%;
        font-style: italic;
        border-radius: 10px;
        
    }
    input{
        font-size: 15px;
        font-style:normal;
        color: blue;
    }
    .confirmationAppear{
        display: block;
        color:white;
        animation: "anime" 4s
    }
    label{
        color:white;
        margin-top: 5%;
    }
    textarea{
        width: 50%;
        height: 100px;
        color: blue;
        margin-top: 1%;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
    }
 
    .Wrapper .p1{
        font-style: italic;
        animation-name: animation;
        animation-direction: normal;
        animation-duration: 10s;
        width:80%;
        margin:0 auto;
        line-height: 35px;
        color:white;
    }
    a{
        color:white;
    }
    a:hover{
        color:gray;
    }
    button{
        margin-top:2%;
        border: solid;
        border-color:white;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: medium;
        cursor: pointer;
        font-size: larger;
    }
     @keyframes animation{
         0%{
             opacity: 0;
             color: blue;
         }
    
         100%{
             opacity:1 ;
         }
    }
    .submission{
         visibility: hidden;
         color: white;
    }
    .error-msgs{
        color: white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    
    }
    @keyframes anime{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

}

/*Moblie Styling*/
@media only screen and (max-width:767px){

    #mainNav{
        position: 0;
        background-color:blue;
        height: 120px;
        margin:0 auto;
        width: 100%;
        font-family: serif;
        position:fixed;
        z-index: 1000;
    }
    .info{
        margin:5% auto
    }
    .Wrapper .typedWords{
        padding-top: 50px;
        animation-name:animation;
        animation-direction: forwards;
        width:80%;
        margin:0 auto;
        animation-duration: 10s;
        font-family: serif; 
        color: navy;
    }
    .info{
        margin:50px 5%;
        text-align:left;
        width:60%;
        color:white;
        font-size:18px;
    }
    .projectSubHeading{
        animation:animation 5s;
        width:90%;
        margin: 0 auto;
    }
    .back-to-top{
        width:50px;
    }

    ul{
        padding: 0;
        text-align: left;
        padding-left: 10%;
    }
    li{
        color: white;
        display:block;
        font-size: 17px;
        line-height: 35px;
    }
    .Wrapper{
        width: 100%;
        margin: auto auto;
        min-height: 100vh;
        background-size:100% 100%;
        padding-top: 120px;
        background-image: url(./Media/landingBg.jpg);
        background-repeat:no-repeat;
    }
    .Wrapper h1{
        margin-top: 3vh;
        color:white;
        font-family:serif;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Wrapper a{
        color: white;
        animation-name:animation;
        animation-duration: 5s;
        font-family: serif;
    }
    h1{ 
        animation-name:animation;
        animation-duration: 5s;
        font-family: serif;
    }
    .h1{
        font-size: 20px;
        animation-name: animation;
        animation-duration: 5s;
    }
    p,h2{
        font-size: 15px;
        font-family: serif;
        
    }

    
    .projectSection{
        
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-areas: none;
        
    }
    .grid_projects{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 2% auto;

    }
    .grid_projects a{
        border:10px groove skyblue;
        margin: 12px auto;
        width:40%;   
    }

    .projectSection img{
        
        width: 100%;
    }
    .projectDetails{
        animation: animation 5s;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .projectDetails a{
        color: black;
        font-family: serif;
        font-size:20px;    
    }
    .projectsDiv{
        min-height: 100vh;
        padding-top: 130px;
        font-family: serif;
        display: flex;
        flex-direction:column;
    }
    .slider-left div, .slider-right div{
        background-color:#207FC1;
    }
    .react-3d-carousel{
        margin-top: 20px;
        display: none;
    }
    
    .contactDiv{
        
        padding-top: 130px;
        font-family: serif;
        background-color:#207FC1;
        display: flex;
        flex-direction:column;
        clear:both;
        min-height: 100vh;
    }
    .contactDiv h1{
        color:white;
    }
    .contactDiv p{
        width: 70%;
        color: white;
        margin: 0 auto;
    }
    form{
        margin-top: 4%;
    }
    
    input,label{
        height: 25px;
        display: block;
        margin:0 auto;
        color:blue;
        font-size:15px;
        margin-top: 1%;
        font-style: italic;
        border-radius: 10px;
        
    }
    input{
        width:50%;
        font-size: 15px;
        font-style:normal;
        color: blue;
    }
    .confirmationAppear{
        display: block;
        color:white;
        animation: "anime" 4s
    }
    label{
        color:white;
        margin-top: 5%;
    }
    textarea{
        width: 50%;
        height: 100px;
        color: blue;
        margin-top: 1%;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    .Wrapper .p1{
        font-style: italic;
        animation-name: animation;
        animation-direction: normal;
        animation-duration: 10s;
        width:100%;
        margin:0 auto;
        line-height: 30px;
        color:white;
        
    
    }
    a{
        color:white;
    }
    a:hover{
        color:gray;
    }
    button{
        margin-top:2%;
        border: solid;
        border-color:white;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: medium;
        cursor: pointer;
        font-size: larger;
    }
     @keyframes animation{
         0%{
             opacity: 0;
             color: blue;
         }
    
         100%{
             opacity:1 ;
         }
    }
    .submission{
         visibility: hidden;
         color: wheat;
    }
    .error-msgs{
        color: wheat;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    
    }
    @keyframes anime{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    
}

